<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
<h1> Add a book to the library </h1>

<form action="/create_book">
	
	Title:
	<input name = 'bookTitle'>
	Author:
	<input name = 'bookAuthor'>
	Year:
	<input name = 'bookYear'>

	<button type="submit">create book</button>
</form>



<%library.forEach(function(book){%>
<br>
<%='Id: ' + book.id%>
<br>
<%='Title: ' + book.bookTitle%>
<br>
<%='Author: ' + book.bookAuthor %>
<br>
<%='Year: ' + book.bookYear %>
<br>
<form method="post" action="/delete_book/<%=book.id%>?_method=delete">
		<input type="submit" name="delete" value = "delete">
	</form>
	<br>
<form method="post" action="/update_book/<%=book.id%>?_method=put">
Update this book's info:
	New Title:
	<input type = "text" name = "bookTitle">
	New Author:
	<input type = "text" name = "bookAuthor" >
	New Year:
	<input type = "text" name = "bookYear" >

	<button type="submit">update book</button>
	</form>
	<br>
------------

<%})%>

</body>
</html>